[Unit]
Description=Physicar Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=physicar
Group=physicar
EnvironmentFile=-/home/physicar/physicar_ws/userdata/.env
ExecStart=/home/physicar/physicar_ws/src/physicar-ros/deploy/device/physicar.sh
RemainAfterExit=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
