[Desktop Entry]
Version=1.0
Type=Application
Name=Terminal
Comment=Open a terminal window
Exec=xterm -fa Monospace -fs 10 -bg black -fg white -title Terminal -e "cd ~ && bash -l"
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
